<!DOCTYPE=html>
{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<style>
    html, body {
        height: 100%;
    }
    body {
        background: black; /*#ededed; */
        text-align: center;
    }
    .main {
        height: 100%;
        width: 100%;
        display: table;
    }
    .wrapper {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
</style>
<div class="main">
  <div class="wrapper">
    <div class="ink-grid">
      {% if user.is_authenticated %}
        <div class="column-group push-bottom">
          <div class="column-group push-center">
            <div class="ink-alert basic info" role="alert">
              <button class="ink-dismiss">&times;</button>
              <p style="color: whitesmoke"><b>Aviso:</b> Usted está actualmente autenticado como <strong>{{user}}</strong>.</p>
            </div>
          </div>
        </div>
      {% endif %}
      <h1>Bienvenido</h1>
      <div class="column-group push-center push-middle">
        <form class="ink-form" method="POST">
        {% csrf_token %}
          <div class="control-group">
            <div class="control">
              <input id="username" name="username" type="text" placeholder="usuario" required/>
            </div>
          </div>
          <div class="control-group">
            <div class="control">
              <input id="password" name="password" type="password" placeholder="contraseña" required/>
            </div>
          </div>
        <button class="ink-button whitesmoke" type="submit" name="action">Iniciar sesión</button>
      </form>
      </div>
      {% if form.errors %}
        <div class="column-group push-bottom">
          <div class="column-group push-center">
            <div class="ink-alert basic error" role="alert">
              <button class="ink-dismiss">&times;</button>
              <p style="color: whitesmoke"><b>Error:</b> Los datos ingresados son incorrectos.</p>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
