<table class="table table-hover table-striped table-bordered">
    <thead>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Dni</th>
        <th>Faltas</th>
        <th>Formulario</th>
    </thead>
    {% for al in todos_los_alumnos %}
        <tbody>
            <tr>
                <td>{{al.apellido}}</td>
                <td>{{al.nombre}}</td>
                <td>{{al.dni}}</td>
                <td>{{al.faltas}}</td>
                <td class="vcenter"><input name="aux" onchange="pres('{% url 'elegir_formulario' al.id %}', {{al.id}})" type="checkbox" id="formulario" value={{al.dni}}/></td>
            </tr>
        </tbody>
    {% endfor %}
</table>
