<table>
    <thead>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Justifacadas</th>
        <th>Inustifacadas</th>
        <th>Total</th>
    </thead>
     {% for al in todos_los_alumnos %}
        <tbody>
            <tr>
                <td>{{al.apellido}}</td>
                <td>{{al.nombre}}</td>
                <td>{{al.faltas}}</td>
                <td>{{al.faltas}}</td>
                <td>{{al.faltas}}</td>
            </tr>
        </tbody>
    {% endfor %}
</table>


