<table class="table table-hover table-striped table-bordered">
    <thead>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Dni</th>
        <th>Estado</th>
        <th>Curso</th>
        <th>Division</th>
    </thead>
    {% for al in todos_los_alumnos %}
    <tbody>
        <tr>
            <td>{{al.apellido}}</td>
            <td>{{al.nombre}}</td>
            <td>{{al.dni}}</td>
            <td>{{al.estado}}</td>
            <td>{{al.curso.year}}</td>
            <td>{{al.curso.division}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
