<div class="modal-content">
    <div class="modal-header">
        <h2>Datos:</h2>
    </div>
    <div class="modal-body">
        <br>
        <center><span id ="preceptor">Apellido:{{alumno.apellido}}</span></center>
        <center><span id ="alumno">Nombre:{{alumno.nombre|upper}}</span></center>
        <center><span id ="fecha">Estado:{{alumno.estado|upper}}</span></center>
        <select class="form-control input-small" id="sel1">
            <option>Opciones:</option>
            <option>F2</option>
            <option>F3</option>
        </select>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="estoy()" class="btn success" >Crear</button>
      </div>
    </div>
<script>
    
    function estoy(){
        var selected_index = document.getElementById("sel1").selectedIndex;
        if (selected_index==0){
            alert("esta no es una opcion valida de formulario ")
        }
        if (selected_index==1) {
            crear_formulario('{% url 'crear_f2' alumno.dni %}', {{alumno.dni}})
        }
        if (selected_index==2) {
            crear_formulario('{% url 'crear_f3' alumno.dni %}', {{alumno.dni}})
        }
    }

</script>
