<script>
function alumnos_presentes(){
              $( "#alumnos_presentes" ).load(window.location.href + " #alumnos_presentes" );
            }

            function traer(url, alum) {
             //alert("soquetes");
             $.ajax({
               method: "POST",
               url: url,
               data: {
                 csrfmiddlewaretoken: '{{ csrf_token }}'
               }
             })
               .done(function (data) {
                  $("#datos").html(data);
                  document.getElementById('id01').style.display='block';
               });
           };

               function cerrar() {
                   var modal = document.getElementById('id01');
                   modal.style.display = "none";
                 }

              function pres(url, alum) {
          		 $.ajax({
          			 method: "POST",
          			 url: url,
          			 data: {
          				 csrfmiddlewaretoken: '{{ csrf_token }}'
          			 }
          		 })
          			 .done(function (data) {
          				 	$("#datos").html(data);
          					document.getElementById('id01').style.display='block';
          			 });
          	 };

             function crear_f2(url, alum) {
              $.ajax({
                method: "POST",
                url: url,
                data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                }
              })
                .done(function (data) {
                   id01.style.visibility = "hidden"
                   Materialize.toast("Formulario Creado", 1000, 'blue')
                   alumnos_presentes()
                });
            };

            function datos_formulario_preceptor(url, formu) {
             $.ajax({
               method: "POST",
               url: url,
               data: {
                 csrfmiddlewaretoken: '{{ csrf_token }}'
               }
             })
               .done(function (data) {
                 $("#datos2").html(data);
                document.getElementById('id02').style.display='block';
               });
           };

            function crear_f3(url, alum) {
             $.ajax({
               method: "POST",
               url: url,
               data: {
                 csrfmiddlewaretoken: '{{ csrf_token }}'
               }
             })
               .done(function (data) {
                  id01.style.visibility = "hidden"
                  Materialize.toast("Formulario Creado", 1000, 'green')
                  alumnos_presentes()
               });
           };

                      function datos_formulario2(url, formu) {
             $.ajax({
               method: "POST",
               url: url,
               data: {
                 csrfmiddlewaretoken: '{{ csrf_token }}'
               }
             })
               .done(function (data) {
                 $("#datos2").html(data);
                document.getElementById('id02').style.display='block';
               });
           };
           function datos_formulario3(url, formu) {
            $.ajax({
              method: "POST",
              url: url,
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
              }
            })
              .done(function (data) {
                $("#datos2").html(data);
               document.getElementById('id02').style.display='block';
              });
          };
</script>